@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Funnel Sans", sans-serif;
  font-size: 16px;
  list-style: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  background-color: transparent;
}

.navbar {
  background-color: #24053e;
  color: #fff;
  height: 80px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.logo span {
  font-weight: 300;
}

.side {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #43ffa1;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

.head {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbf8ff;
}

.round-head {
  background-color: #24053e;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 200px;
  width: 200%;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
}

.head .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: "Newsreader", sans-serif;
  font-size: 64px;
  font-weight: 500;
  width: 500px;
  text-align: center;
}

.btn {
  background-color: #43ffa1;
  color: #24053e;
  padding: 12px 30px;
  font-family: "Funnel Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 100px;
  border: none;
}

.main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round-main {
  background-color: #fbf8ff;
  color: #24053e;
  padding-top: 250px;
  padding-bottom: 200px;
  width: 200%;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
}

.main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thread {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 350px;
}

.num {
  border: 1px solid #43ffa1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-bottom: 50px;
}

.thread h2 {
  font-family: "Newsreader", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
}

.thread p {
  font-size: 18px;
}

.second {
  margin-top: 150px;
  margin-bottom: 150px;
}

.second .container {
  position: relative;
}

.image {
  width: 500px;
  height: 500px;
  background-color: #43ffa1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.image img {
  height: 120%;
  margin-top: -75px;
}

.info {
  background-color: #24053e;
  color: #fff;
  padding: 50px;
  max-width: 750px;
  position: absolute;
  margin-top: -300px;
  margin-left: 400px;
  margin-right: 30px;
}

.info h1 {
  font-family: "Newsreader", sans-serif;
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 35px;
}

.info p {
  font-size: 20px;
  line-height: 1.5;
}

.info .btn {
  margin-bottom: 0;
}

.foot {
  color: #24053e;
  margin-top: 100px;
  margin-bottom: 75px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  margin-top: 40px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .main .container {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .second .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .second .info {
    position: static;
    margin: 20px auto;
  }
}

@media (max-width: 520px) {
  .heading {
    width: 350px;
  }

  .image {
    width: 350px;
    height: 350px;
  }
}
